* {
    background-color: beige;
}

.cartao, .apresentacao, .conteudo {
    border: 2px solid;
    border-color: royalblue;
    width: 340px;
    background-color: red;
}

.guias {
    align-items: center;
    background-color: green;
}

.abas {
    background-color: green;
    display: flex;
    justify-content: center;
    width: 50%;
}

.aba-conteudo {
    display: none;
    background-color: green;
}

.aba-conteudo.selecionado {
    display: block;
}

.cartao {
    width: 350px;
}

.paragrafo {
    background-color: transparent;
}